{% extends "padrao.html"%}

{% block conteudo %}    
    <form method="post" action="/agendar">

        <fieldset>

            <legend>Faça a reserva do seu horário no BrechóSim!</legend>

            <div class="mb-3">
                <label for="dtAgendamento">Reservar Data</label>
                <input type="date" id="dtAgendamento" name="dtAgendamento" class="form-control">
            </div>

            <div class="mb-3">
                <label for="dtContato">Data de Contato</label>
                <input type="datetime-local" id="dtContato" name="dtContato" class="form-control">
            </div>

            <div class="mb-3">
                <label for="qtProduto">Quantidade de Produtos</label>
                <input type="number" id="qtProduto" name="qtProduto" class="form-control">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-secondary">Agendar</button>
            </div>

    </form>
{% endblock %}