{% extends "padrao.html" %}

{% block conteudo %}
    <form method="POST" action="/cadastrar" enctype="multipart/form-data">

        <fieldset>

            <legend>Faça o cadastro de novas roupas</legend>

            <div class="mb-4">
                <label for="foto">Foto da roupa</label>
                <input type="file" id="foto" name="foto" class="form-control">
            </div>
            
            <div class="mb-4">
                <label for="idnome">Nome da roupa</label>
                <input type="text" id="idnome" name="idnome" class="form-control">
            </div>

            <div class="mb-4">
                <label for="descricao">Descrição da roupa</label>
                <input type="text" id="descricao" name="descricao" class="form-control">
            </div>

            <div class="mb-4">
                <label for="preco">Preço da roupa</label>
                <input type="text" id="preco" name="preco" class="form-control">
            </div>

            <div class="mb-4">
                <button type="submit" class="btn btn-secondary btn-lg">Cadastrar Roupa</button> <!-- "btn btn-secondary" -->
            </div>

        </fieldset>
    </form>
{% endblock %}    

