<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <title>Cadastrar Catálogo</title>
</head>
<body>
    
    <form method="POST" action="/cadastrar" enctype="multipart/form-data">
        <label for="foto">Foto da roupa</label>
        <input type="file" id="foto" name="foto">

        <label for="idnome">Nome da roupa</label>
        <input type="text" id="idnome" name="idnome">
    
        <label for="descricao">Descrição da roupa</label>
        <input type="text" id="descricao" name="descricao">
    
        <label for="preco">Preço da roupa</label>
        <input type="text" id="preco" name="preco">
        
        <button type="submit">Cadastrar Roupa</button>
    </form>
    



</body>
</html>