{% extends "padrao.html" %}

{% block colecao %}
    <div class="container-fluid">
    <h1>Coleção Completa</h1>

    <table class="table table-hover">

        <thead class="table-dark">
            <tr>
                <th>Foto</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for item in fotos %}
            <tr>
                <td><img src="{{ url_for('static', filename='img_colecao/' + item.idFotoProduto) }}" alt="Imagem" style="width: 100px;"></td>
                <td style="font-size: 36px;">{{ item.nmProduto }}</td>
                <td style="font-size: 36px;">
                    {{ item.vlUnidade }}
                    <form method="post" action="{{ url_for('login') }}">
                        <input type="hidden" name="produto_id" value="{{ item.cdProduto }}">
                        <input type="text" id="nome_titular" name="nome_titular" class="form-control" required style="display: none;"> <!-- Esconde o campo de nome do titular -->
                        <!-- Adicione mais campos para as informações de pagamento, como número do cartão, data de validade, etc. -->
                        <button type="submit" class="btn btn-primary">Reserve</button>
                    </form>
                </td>
                <td>
                    <label>
                        <a href="{{ url_for('editar')}}"
                        class="text-body-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg> 
                        </a>
                    </label>
                    <label>
                        <a href="{{ url_for('excluir')}}"
                        class="text-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg>
                        </a>
                    </label>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
    <!-- novo parágrafo -->
    <p class="lead my-4" style="color: #333;">
        Aqui você encontra uma variedade de produtos que estão disponíveis para uma pré-reserva para a sua próxima visita.
        Caso prefira, você pode agendar sem reserva clicando no botão abaixo:
    </p>

    <!-- redirecionar para agendamento -->
    <a href="{{ url_for('agendar') }}" class="btn btn-secondary btn-lg">Agende um horário</a>

    <!-- open sidebar / offcanvas -->
    <a href="#sidebar" class="d-block mt-3" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar"></a>
</div>

    <!-- <div class="col-md-5 text-center d-none d-md-block">
     tooltip -->
        <!-- <span class="tt" data-bs-placement="bottom" title="BrechoSim">
            <img src="{{ url_for('static', filename='img_logo/logobrechosim.jpeg') }}" class="img-cat" alt="logo-brecho" style="width: 350px;">
        </span>
        <span class="tt" data-bs-placement="bottom" title="BrechoSim">
            <video src="{{ url_for('static', filename='imagens/BrechóSim.mp4') }}" width="600" autoplay loop muted poster="{{ url_for('static', filename='img_logo/logobrechosim.jpeg') }}"></video>
        </span>
    </div> -->
    
{% endblock %}