{% extends "padrao.html" %}

{% block colecao %}
    <div class="container-fluid">
    <h1>Coleção Completa</h1>

    <table class="table table-hover">

        <thead class="table-dark">
            <tr>
                <th>Foto</th>
                <th>Descrição</th>
                <th>Preço</th>
            </tr>
        </thead>

        <tbody>
            {% for item in fotos %}
            <tr>
                <td><img src="{{ url_for('static', filename='img_colecao/' + item) }}" alt="Imagem" style="width: 100px;"></td>
                <td>Descrição da Imagem</td> <!-- Substitua por uma descrição real, se disponível -->
                <td>Preço da Imagem</td> <!-- Substitua por um preço real, se disponível -->
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
    <!-- Adicione outros elementos HTML conforme necessário -->
    </div>
{% endblock %}