{% extends "padrao.html" %}

{% block conteudo %}
<form method="POST" action="{{ url_for('atualizar') }}">

    <fieldset>

        <input type="hidden" name="idFotoProduto" value="{{ peca.idFotoProduto }}"

        <legend>Faça o cadastro de novas roupas</legend>

        <div class="mb-4">
            <label for="dtCadastro">Data de cadastro</label>
            <input type="date" id="dtCadastro" name="dtCadastro" 
            class="form-control" value="{{ peca.dtCadastro }}">
        </div>
        
        <div class="mb-4">
            <label for="nmProduto">Nome da roupa</label>
            <input type="text" id="nmProduto" name="nmProduto" 
            class="form-control" value="{{ peca.nmProduto }}">
        </div>

        <div class="mb-4">
            <label for="nmFornecedor">Nome do fornecedor</label>
            <input type="text" id="nmFornecedor" name="nmFornecedor" 
            class="form-control" value="{{ peca.nmFornecedor }}">
        </div>

        <div class="mb-4">
            <label for="nmCategoria">Nome da categoria</label>
            <input type="text" id="nmCategoria" name="nmCategoria" 
            class="form-control" value="{{ peca.nmCategoria }}">
        </div>

        <div class="mb-4">
            <label for="dsUnidade">Descrição da unidade</label>
            <input type="text" id="dsUnidade" name="dsUnidade" 
            class="form-control" value="{{ peca.dsUnidade }}">
        </div>

        <div class="mb-4">
            <label for="vlUnidade">Valor da unidade</label>
            <input type="text" id="vlUnidade" name="vlUnidade" 
            class="form-control" value="{{ peca.vlUnidade }}">
        </div>

        <!-- <div class="mb-4">
            <label for="idFotoProduto">ID da foto do produto</label>
            <input type="text" id="idFotoProduto" name="idFotoProduto" class="form-control">
        </div> -->

        <div class="mb-4">
            <label for="foto">Foto da roupa</label>
            <input type="file" id="foto" name="foto" 
            class="form-control" value="{{ peca.foto }}">
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-secondary btn-lg">Salvar</button>
        </div>

    </fieldset>
</form>

{% endblock %}    

